.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 300px;
  }
  
  .buttonOpen {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
  }
  .buttonOpen:hover {
        color: rgb(71, 42, 177);
}

