header {
    display: flex;
    height: 170px;
    justify-content: space-between;
    color: rgb(213, 210, 214);
    align-items: center;
    padding: 35px;
    background: rgba(224, 222, 223, 0.836);
}

.header__logo {

    
    font-weight: 1100;
}

nav {
    display: flex;
    gap: 30px;
}