.home_link{
    background-color:rgb(73, 7, 90) ;
    font-size: 25px;
  }
  
  .courses_link {
    background-color:rgb(73, 7, 90) ;
    font-size: 25px;
  }
  
  .users_link {
    background-color:rgb(73, 7, 90) ;
    font-size: 25px;
  }
  
  .news_link {
    background-color:rgb(73, 7, 90) ;
    font-size: 25px;
  }
  
  .materials_link {
    background-color:rgb(73, 7, 90) ;
    font-size: 25px;
  }